<?xml version="1.0" ?>
<launch>
    <rosparam file = "$(find oloop)/config/path_params.yaml" command = "load"  />
    <rosparam file = "$(find oloop)/config/trayectory_params.yaml" command = "load"  />
    <node name="control" pkg="oloop" type="control.py" output="screen"/>    
    <node name="path_generator" pkg="oloop" type="path_generator.py" output="screen"/>    

</launch>
